.switchbox-2-1{{{cns}}} {
    background-image:url(/resources/switchbox_2-1_bg.png{{{ns}}});
    background-repeat:no-repeat;
    height:274px;
    position:relative;
    width:200px;
}
.switchbox-2-1{{{cns}}} .mod-drag-handle {
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:0;
}
.switchbox-2-1{{{cns}}} .mod-pedal-input {
    top:50px;
}
.switchbox-2-1{{{cns}}} .mod-pedal-input .mod-input:nth-child(2) {
	top: 75px;
}
.switchbox-2-1{{{cns}}} .mod-pedal-output {
    top:115px;
}
.switchbox-2-1{{{cns}}} .mod-control-group {
    left:52px;
    position:absolute;
    top:71px;
}
.switchbox-2-1{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/sprites/switchbox_2-1_sprite.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:276px 155px;
    height:155px;
    margin:0px -45px auto;
    width:138px;
    cursor: pointer;
}
.switchbox-2-1{{{cns}}} .mod-control-group .mod-knob .mod-knob-title {
    display:none;
    font-size:11px;
    left:0;
    position:absolute;
    right:0;
    text-align:center;
    text-transform:uppercase;
    top:92px;
}
