/* @import url(/resources/fonts/stylesheet.css); */

@font-face {
    font-family: 'lets_go_digital';
    src: url('/resources/font/lets_go_digital_regular-webfont.woff2{{{ns}}}') format('woff2'),
         url('/resources/font/lets_go_digital_regular-webfont.woff{{{ns}}}') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* = CONTAINER
================================================ */
.samplv1{{{cns}}} {
    background-image: url(/resources/samplv1_bg.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    height: 666px;
    position: absolute;
    width: 1147px;
}

/* All values */
.samplv1{{{cns}}} .value {
    font-family: 'lets_go_digital' !important;
    font-variant-numeric: tabular-nums !important;
    color: #295035;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 60px;
    height: 25px;
    padding-top: 3px;
    user-select: none;
    margin: -7px 0px 0px -2px;
    text-align: center;
    width: 43px;
    height: 25px;
    overflow: hidden;
}


/* ENUMERATED LIST */
.samplv1{{{cns}}} .mod-enumerated-dropdown-group {
    height:31px;
    margin:20px auto 0 !important;
    position:relative;
    width: 171px;
    left: 10px;
    top: -10px;
    z-index:35;
}

.samplv1{{{cns}}} .mod-enumerated-dropdown {
    color: #000;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    cursor: pointer
}

.samplv1{{{cns}}} .mod-enumerated-dropdown .mod-enumerated-dropdown-selected {
    background: none;
    border-radius: 4px;
    /* box-shadow:inset 1px 1px 10px #000; */
    font-size: 14px;
    color: lightgrey;
    height: 34px;
    line-height: 2.5;
    margin-right: 8px;
    overflow: hidden;
    padding: 0 9px;
}

/* WHEN IS HOVER */
.samplv1{{{cns}}} .mod-enumerated-dropdown:hover .mod-enumerated-dropdown-selected {
    border-radius: 4px 4px 0 0;
}

/* THE LIST OF OPTIONS */
.samplv1{{{cns}}} .mod-enumerated-dropdown .mod-enumerated-list {
    background: rgba(255,255,255,.85);
    display: none;
    font-weight: bold;
    height: 69px;
    overflow: auto;
    position: relative;
    position: absolute;
    width: 200px;
    z-index: 3;
}

.samplv1{{{cns}}} .mod-enumerated-dropdown .mod-enumerated-list > div {
    padding: 3px 9px;
}

.samplv1{{{cns}}} .mod-enumerated-dropdown .mod-enumerated-list > div:hover {
    background: rgba(0,0,0,.35);
    cursor: pointer;
}


/* PORTS
================================================ */

.samplv1{{{cns}}} .mod-pedal-input {
    top: 274px;
}

.samplv1{{{cns}}} .mod-pedal-output {
    top: 240px;
}

/* = KNOBS
================================================ */
.samplv1{{{cns}}} .mod-control-group {
    margin: 20px !important;
    position: relative;
    text-align: center;
    z-index: 30;
}

/* = KNOBS
================================================ */

.samplv1{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image: url(/resources/samplv1_sprite_sheets/knobs/knob_grey.png{{{ns}}});
    background-repeat: no-repeat;
    background-size: auto 41px;
    height: 41px;
    width: 36px;
    margin: 0 auto;
}

.samplv1{{{cns}}} .mod-control-group .mod-knob.analog .mod-knob-image {
    background-image: url(/resources/samplv1_sprite_sheets/knobs/big_knob.png{{{ns}}});
    background-size: auto 50px;
    height: 50px;
    width: 50px;
}

.samplv1{{{cns}}} .mod-control-group .mod-knob.red .mod-knob-image {
    background-image: url(/resources/samplv1_sprite_sheets/knobs/knob_red.png{{{ns}}});
}

.samplv1{{{cns}}} .mod-control-group .mod-knob.green .mod-knob-image {
    background-image: url(/resources/samplv1_sprite_sheets/knobs/knob_green.png{{{ns}}});
}

.samplv1{{{cns}}} .mod-control-group .mod-knob.blue .mod-knob-image {
    background-image: url(/resources/samplv1_sprite_sheets/knobs/knob_blue.png{{{ns}}});
}

.samplv1{{{cns}}} .mod-control-group .mod-knob.green .mod-knob-image {
    background-image: url(/resources/samplv1_sprite_sheets/knobs/knob_green.png{{{ns}}});
}

.samplv1{{{cns}}} .mod-control-group .mod-knob.yellow .mod-knob-image {
    background-image: url(/resources/samplv1_sprite_sheets/knobs/knob_yellow.png{{{ns}}});
}

.samplv1{{{cns}}} .mod-control-group .mod-knob.purple .mod-knob-image {
    background-image: url(/resources/samplv1_sprite_sheets/knobs/knob_purple.png{{{ns}}});
}

.samplv1{{{cns}}} .mod-control-group .mod-knob {
    position: absolute;
    left: 0;
}

.samplv1{{{cns}}} .mod-control-group .mod-control-supgroup {
    position: relative;
}

/* = BUTTONS
================================================ */

.samplv1{{{cns}}} .mod-control-group .samplv1-button {
    position: relative;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-button .mod-button-image {
    background-image: url(/resources/samplv1_sprite_sheets/buttons/button_big.png{{{ns}}});
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-button.small .mod-button-image {
    background-image: url(/resources/samplv1_sprite_sheets/buttons/button_small.png{{{ns}}});
    height: 22px;
    width: 22px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-button .mod-button-image.on {
    background-position: center right !important;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-button .mod-button-image.off {
    background-position: center left !important;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-button .mod-button-image.selected {
    background-position: center right !important;
}

.samplv1{{{cns}}} .mod-switch {
    background-image: url(/resources/samplv1_sprite_sheets/buttons/button_on_off.png{{{ns}}});
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto 50px;
    left: 38px;
    top: 79px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 30;
}

.samplv1{{{cns}}} .mod-switch.on {
    background-position: center left;
}

.samplv1{{{cns}}} .mod-switch.off {
    background-position: center right;
}

/* = POSITIONS
================================================ */

/* SAMPLE CONTROLS */
.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls {
    position: absolute;
    top: 69px;
    left: 67px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_SAMPLE {
    top: 78px;
    left: -52px;
}
.samplv1{{{cns}}} .mod-control-group .mod-knob.samplv1-GEN1_SAMPLE .value {
    margin: -9px 0 0 3px;
    color: RGB(212, 42, 42);
    text-align: center;
    width: 43px;
    height: 25px;
    overflow: hidden;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_REVERSE {
    top: -39px;
    left: 192px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_OFFSET {
    top: -45px;
    left: 417px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_OFFSET_1 {
    top: 86px;
    left: 417px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_OFFSET_2 {
    top: 86px;
    left: 479px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_LOOP {
    top: -81px;
    left: 564px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_LOOP_1 {
    top: 86px;
    left: 559px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_LOOP_2 {
    top: 86px;
    left: 619px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_OCTAVE {
    top: 86px;
    left: 794px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_TUNING {
    top: 86px;
    left: 857px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_GLIDE {
    top: 86px;
    left: 919px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-sample-controls .mod-knob.samplv1-GEN1_ENVTIME {
    top: 86px;
    left: 981px;
}

/* DCF */
.samplv1{{{cns}}} .mod-control-group .samplv1-dcf {
    position: absolute;
    top: 200px;
    left: 0px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_ENABLED {
    top: 50px;
    left: 16px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_CUTOFF {
    top: 105px;
    left: 199px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_RESO {
    top: 105px;
    left: 262px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_TYPE {
    top: 105px;
    left: 231px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_ENVELOPE {
    top: 189px;
    left: 16px;
}
.samplv1{{{cns}}} .mod-control-group .mod-knob.samplv1-DCF1_ENVELOPE .value {
    margin: -2px 0 0 3px;
    color: RGB(212, 42, 42);
    text-align: center;
    width: 43px;
    height: 25px;
    overflow: hidden;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_ATTACK {
    top: 202px;
    left: 201px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_DECAY {
    top: 202px;
    left: 263px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_SUSTAIN {
    top: 202px;
    left: 324px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_RELEASE {
    top: 202px;
    left: 386px;
}

/* LFO */
.samplv1{{{cns}}} .mod-control-group .samplv1-lfo {
    position: absolute;
    top: 248px;
    left: 451px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_ENABLED {
    top: 0px;
    left: 16px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_WIDTH {
    top: 49px;
    left: 172px;
}
.samplv1{{{cns}}} .mod-control-group .mod-knob.samplv1-LFO1_WIDTH .value {
    margin: -8px 0 0 3px;
    color: RGB(212, 42, 42);
    text-align: center;
    width: 43px;
    height: 25px;
    overflow: hidden;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_BPM {
    top: 154px;
    left: 17px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_RATE {
    top: 154px;
    left: 79px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_SYNC {
    top: 42px;
    left: 135px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_SWEEP {
    top: 154px;
    left: 264px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_PITCH {
    top: 154px;
    left: 325px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_CUTOFF {
    top: 154px;
    left: 413px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_RESO {
    top: 154px;
    left: 474px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_PANNING {
    top: 154px;
    left: 536px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_VOLUME {
    top: 154px;
    left: 599px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_ATTACK {
    top: 57px;
    left: 412px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_DECAY {
    top: 57px;
    left: 474px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_SUSTAIN {
    top: 57px;
    left: 536px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_RELEASE {
    top: 57px;
    left: 599px;
}

/* DCA */
.samplv1{{{cns}}} .mod-control-group .samplv1-dca {
    position: absolute;
    top: 477px;
    left: 0px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dca .mod-knob.samplv1-DCA1_ENABLED {
    top: 0px;
    left: 16px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dca .mod-knob.samplv1-DCA1_VOLUME {
    top: 51px;
    left: 16px;
}
.samplv1{{{cns}}} .mod-control-group .mod-knob.samplv1-DCA1_VOLUME .value {
    margin: -2px 0 0 3px;
    color: RGB(212, 42, 42);
    text-align: center;
    width: 43px;
    height: 25px;
    overflow: hidden;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dca .mod-knob.samplv1-DCA1_ATTACK {
    top: 64px;
    left: 200px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dca .mod-knob.samplv1-DCA1_DECAY {
    top: 64px;
    left: 260px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dca .mod-knob.samplv1-DCA1_SUSTAIN {
    top: 64px;
    left: 326px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dca .mod-knob.samplv1-DCA1_RELEASE {
    top: 64px;
    left: 387px;
}

/* DEF */
.samplv1{{{cns}}} .mod-control-group .samplv1-def {
    position: absolute;
    top: 540px;
    left: 468px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-def .mod-knob.samplv1-DEF1_PITCHBEND {
    left: 0px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-def .mod-knob.samplv1-DEF1_MODWHEEL {
    left: 62px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-def .mod-knob.samplv1-DEF1_PRESSURE {
    left: 123px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-def .mod-knob.samplv1-DEF1_VELOCITY {
    left: 187px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-def .mod-knob.samplv1-DEF1_CHANNEL {
    left: 249px;
}

/* OUT */
.samplv1{{{cns}}} .mod-control-group .samplv1-out {
    position: absolute;
    top: 540px;
    left: 863px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-out .mod-knob.samplv1-OUT1_WIDTH {
    left: 0px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-out .mod-knob.samplv1-OUT1_PANNING {
    left: 62px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-out .mod-knob.samplv1-OUT1_FXSEND {
    left: 123px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-out .mod-knob.samplv1-OUT1_VOLUME {
    left: 187px;
}

/* = RADIO CONTROLS
================================================================= */

.samplv1{{{cns}}} .mod-control-group .mod-button .mod-knob-image.selected {
  background-position: center right;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_TYPE {
    left: 325px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_TYPE.pos1 {
    top: 46px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_TYPE.pos2 {
    top: 47px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_TYPE.pos3 {
    top: 49px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_TYPE.pos4 {
    top: 50px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_ENVELOPE {
    left: 16px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_SLOPE {
    left: 379px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_SLOPE.pos1 {
    top: -41px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_SLOPE.pos2 {
    top: -40px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_SLOPE.pos3 {
    top: -39px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .mod-knob.samplv1-DCF1_SLOPE.pos4 {
    top: -38px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_SHAPE {
    left: 91px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_SHAPE.pos1 {
    top: -3px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_SHAPE.pos2 {
    top: -7px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_SHAPE.pos3 {
    top: -12px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_SHAPE.pos4 {
    top: -16px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .mod-knob.samplv1-LFO1_SHAPE.pos5 {
    top: -20px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-def .mod-knob.samplv1-DEF1_MONO {
    left: 302px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-def .mod-knob.samplv1-DEF1_MONO.pos1 {
    top: -19px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-def .mod-knob.samplv1-DEF1_MONO.pos2 {
    top: -15px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-def .mod-knob.samplv1-DEF1_MONO.pos3 {
    top: -11px;
}

/* = SVG
================================================================= */

.samplv1{{{cns}}} .mod-control-group .samplv1-adsr {
    position: absolute;
    border: none;
    display: inline-block;
    background-color: #000;
    border: 1px solid #666;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-svg {
    position:relative;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dca .samplv1-adsr {
    top: 46px;
    left: 82px;
    width: 100px;
    height: 80px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-dcf .samplv1-adsr {
    top: 184px;
    left: 82px;
    width: 100px;
    height: 80px;
}

.samplv1{{{cns}}} .mod-control-group .samplv1-lfo .samplv1-adsr {
    top: 40px;
    left: 237px;
    width: 155px;
    height: 80px;
}
