/* = CONTAINER
================================================ */
.midi-switchbox-2-1{{{cns}}} {
    background-image: url(/resources/midi-switchbox_2-1_bg.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    height: 274px;
    position: absolute;
    width: 200px;
}

/* PORTS
================================================ */

.midi-switchbox-2-1{{{cns}}} .mod-pedal-input {
    top: 48px;
}

.midi-switchbox-2-1{{{cns}}} .mod-pedal-input .mod-input:nth-child(2) {
    top: 73px !important;
}

.midi-switchbox-2-1{{{cns}}} .mod-pedal-output {
    top: 118px;
}

/* = KNOBS
================================================ */
.midi-switchbox-2-1{{{cns}}} .mod-control-group {
    margin: 63px 0 0 46px;
    position: relative;
    z-index: 30;
}

/* ONE KNOB */
.midi-switchbox-2-1{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image: url(/resources/sprites/midi-switchbox_2-1_sprite.png{{{ns}}});
    background-repeat: no-repeat;
    height: 160px;
    width: 137px;
    margin: 4px -38px auto;
}
